<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            font-family: Arial, sans-serif;
            background-image: url('https://catherineasquithgallery.com/uploads/posts/2023-01/thumbs/1674253108_catherineasquithgallery-com-p-sero-zheltii-fon-geometriya-foto-1.jpg');
            margin: 0;
            padding: 0;
            background-size: cover;
        }

        .container {
            background-color: rgba(255, 255, 255, 0.8);
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            margin-bottom: 30px;
            text-align: center;
            width: 80%;
            margin-left: auto;
            margin-right: auto;
        }

        h1 {
            color: #333;
        }

        .result-container {
            background-color: #f9f9f9;
            padding: 15px;
            border-radius: 5px;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
            margin-top: 20px; 
        }

        button[type="submit"] {
            background-color: #ff7f2a;
            border: none;
            color: #fff;
            padding: 10px 20px;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease;
            margin-top: 15px;
        }

        button[type="submit"]:hover {
            background-color: #ee9957;
        }

        input[type="text"] {
            width: calc(100% - 80px); 
            padding: 10px;
            margin-bottom: 15px;
            border: none;
            border-bottom: 2px solid #aaa;
            background-color: transparent;
            transition: border-bottom-color 0.3s ease;
        }

        ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
        }

        li {
            margin-bottom: 20px;
            padding: 10px;
            background-color: #fff;
            border-radius: 5px;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
        }

        .navbar {
            background-color: transparent;
        }

        .navbar-nav {
            margin: 0 auto;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .nav-item {
            padding: 0 10px;
        }

        .nav-link {
            color: #ff7f2a !important;
            margin: 0 10px; 
        }

        .nav-link:hover {
            color: #ffc107 !important;
        }
        #map {
            height: 400px;
        }
        .navbar-brand img {
            max-height: 50px;
        }

        .navbar-nav .nav-link {
            color: #ff7f2a !important;
            margin-left: 15px;
            margin-right: 15px;
        }

        .navbar-nav .nav-link:hover {
            color: #ffc107 !important;
        }

        .modal-content {
            background-color: #ff7f2a;
            border-radius: 10px;
            box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.1);
            padding: 20px;
        }

        .modal-open .modal {
            overflow-y: auto;
        }
        .custom-light {
            color: #ff7f2a; 
        }
    </style>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navigation-wrap">
            <div class="container">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/weather/<%= userId %>">Weather</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/breed/<%= userId %>">Breeds</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/books/<%= userId %>">Library</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/history/<%= userId %>">History</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <section>
        <div class="container mt-4">
            <form id="weatherForm" action="/weather/<%= userId %>" method="POST">
                <div class="form-group">
                    <label for="cityInput"></label>
                    <input type="text" class="form-control" id="cityInput" name="city" placeholder="Enter city"
                        required>
                </div>
                <button type="submit" class="btn btn-primary">Get Weather</button>
            </form>
            <div class="mt-3" id="weatherResult">
                <% if (weatherData) { %>
                <% if (weatherData.city !== null && weatherData.country !== null) { %>
                <h2><%= weatherData.city %>, <%= weatherData.country %></h2>
                <% } %>
                <% if (weatherData.weatherIcon !== null) { %>
                <img src="http://openweathermap.org/img/w/<%= weatherData.weatherIcon %>.png" alt="Weather Icon">
                <% } %>
                <% if (weatherData.temperature !== null) { %>
                <p>Temperature: <%= weatherData.temperature %>°C</p>
                <% } %>
                <% if (weatherData.feelsLike !== null) { %>
                <p>Feels Like: <%= weatherData.feelsLike %>°C</p>
                <% } %>
                <% if (weatherData.description !== null) { %>
                <p>Description: <%= weatherData.description %></p>
                <% } %>
                <% if (weatherData.humidity !== null) { %>
                <p>Humidity: <%= weatherData.humidity %>%</p>
                <% } %>
                <% if (weatherData.pressure !== null) { %>
                <p>Pressure: <%= weatherData.pressure %> hPa</p>
                <% } %>
                <% if (weatherData.windSpeed !== null) { %>
                <p>Wind Speed: <%= weatherData.windSpeed %> m/s</p>
                <% } %>
                <% } else { %>
                <% } %>
            </div>
            <div id="map" style="height: 400px;"></div>
        </div>
    </section>
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const weatherData = <%- JSON.stringify(weatherData) %>;
            console.log('Weather Data:', weatherData);
            let lat = 0;
            let lon = 0;
            if (weatherData.coordinates) {
                const coordinates = weatherData.coordinates.replace(/[()]/g, '').split(',');
                lat = parseFloat(coordinates[0].trim());
                lon = parseFloat(coordinates[1].trim());
                console.log('Parsed Coordinates:', lat, lon);
            } else {
                console.log('No coordinates found in weather data.');
            }
            const map = L.map('map').setView([lat, lon], 10);
            console.log('Map:', map);
            L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png').addTo(map);
            L.marker([lat, lon]).addTo(map);
        });

    </script>


    <footer class="footer">
        <div class="container">
            <p>Zhunisbek Zangar - SE-2207</p>
        </div>
    </footer>


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>
